@import 'theme.css';

/* Use full available width to render content.  */
.wy-nav-content {
    max-width: 100%;
}

/* Prevent spurious white space in table headings.  */
thead p {
    margin-bottom: 0px;
}

/* Add column separators in table headings.  */
.rst-content table.docutils th {
    border-left: 1px solid #e1e4e5;
}

/* Fix column content alignment to match LaTeX output.  */
.rst-content table.docutils td {
    vertical-align: top;
}

/* Right align second column code values.  */
.rst-content table.docutils td:nth-child(2) {
    text-align: right;
}

/* Left align second column vendor names.  */
.rst-content table.docutils#vendor-names td:nth-child(2) {
    text-align: left;
}

/* Left align second column scan area option descriptions.  */
.rst-content table.docutils#scan-area td:nth-child(2) {
    text-align: left;
}

/* Left align all content for the network protocol tables.  */
div#network-protocol table.docutils td {
    text-align: left;
}

/* Word wrap column content to match LaTeX output.  */
.wy-table-responsive table td {
    white-space: normal;
}

/* Word wrap column content to match LaTeX output.  */
.wy-table-responsive table th {
    white-space: normal;
}

/* Prevent spurious white space below macro roles in tables.  */
.rst-content dl:not(.docutils) {
    margin-bottom: 0px;
}
.rst-content tbody dd {
    margin: 0px;
    line-height: 0px;
}
